:root {
    --dark: #232222;
    --light: #f9f9f9;
    --primary: #3791FF;
    --secondary: #FF5185;
    --tertiary: #32E164;
    --nav_height: 4rem;
    --box_shadow: -1px 4px 5px -5px rgba(0, 0, 0, 0.4);
}