.jumbotron_container {
    background-color: var(--dark);
    height: 100vmin;
    color: var(--light);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron_border {
    height: var(--nav_height);
    background-color: var(--dark);
    clip-path: ellipse(60vw var(--nav_height) at 50% 0);
    box-shadow: var(--box_shadow);
}

.latest_article_border {
    position: relative;
    top: 0;
    height: 100px;
    background-color: var(--light);
    clip-path: ellipse(70vw 100px at 50% 100px);
}



.jumbotron_container>h1 {
    font-size: 5vmax;
    font-weight: 700;
    margin: 0 10%;
    text-align: center;
}

.highlight {
    color: var(--primary);
}