@import "./__theme.css";

nav {
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    z-index: 4;
    height: var(--nav_height);
    box-shadow: var(--box_shadow);
}

ul {
    margin-right: auto;
    padding: 0;
    list-style: none;
    display: flex;
}

li {
    margin: 0.5rem;
}

.nav_item {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--light);
    border-radius: 0.5rem;
}

.nav_item:hover {
    background-color: var(--light);
    color: var(--dark);
}

.nav_header {
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.hamburger {
    display: none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0 1.5rem;
}

.hamburger span {
    display: block;
    height: 0.2rem;
    width: 1.5rem;
    background-color: var(--light);
    margin: 0.3rem 0;
    border-radius: 0.5rem;
}



.nav_menu {
    display: none;
}


@media screen and (max-width: 768px) {

    ul,
    .nav_menu {
        display: none;
    }


    .hamburger {
        display: block;
    }


    .close {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        background-color: transparent;
        border: none;
    }

    .nav_menu.expanded {
        display: block;
    }

    .nav_menu.expanded ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--dark);
    }

}